

*.dly

/old

*.tar.gz


*.Rproj


01climate_data/\.Rhistory

01climate_data/\.Rproj\.user/

01climate_data/02processing/001data_conversion/converted\.txt
.Rproj.user

01climate_data/02processing/001data_conversion/Rworkspace\.RData

01climate_data/02processing/002caculation_predictability/0002coldsum/var_coldsum_cache/

*.RData

01climate_data/02processing/002caculation_predictability/0002coldsum/var_coldsum_files/figure-html/

01climate_data/02processing/001data_conversion/converted_min\.txt

01climate_data/02processing/001data_conversion/converted_max\.txt

01climate_data/results\.txt

02studies/00raw/~\$liste_paper-2017-09-19\.xlsx

02studies/00raw/~\$filtered_lista\.xlsx
